*.o
*.lo
*.la
lib/.libs
Makefile
cmdline/.deps/
cmdline/Makefile
config.h
config.log
config.status
docs/Makefile
fuse/.deps/
fuse/Makefile
lib/.deps/
lib/Makefile
libtool
stamp-h1
autom4te.cache/
config.h.in~
