*.o
*.lo
*.la
.libs
.deps
Makefile
config.h
config.log
config.status
cmdline/Makefile
cmdline/afpcmd
cmdline/afpgetstatus
docs/Makefile
fuse/Makefile
fuse/afpfsd
fuse/mount_afp
lib/Makefile
libtool
stamp-h1
autom4te.cache
